<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Email</title>
</head>
<body>
    <div class="container">
        <h2>Welcome, {{username}}!</h2>
        <p>Thank you for signing up. we will looking for applications and contact with you.</p>
        <p>You're enrolled in the following course: {{course}}</p>
        <hr>
        <small>This is automated message please don't reply.</small>
    </div>
</body>
</html>