<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users-File Cache Demo</title>
</head>
<body>
    <h2>User data (File Based Cache Demo)</h2>
    <table border="1" cellpadding="10">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subscribers</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.sub}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>